.bookings {
    margin-top: 100px;
    padding: 0px 30px;
    padding-bottom: 50px;
}

.booking__title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 2rem;
}

.filter__widget-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.car__item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 79px;
    justify-content: space-evenly;
    width: 100%;
}

.filter__widget-01 select,
.filter__widget-02 select {
    border: none;
    padding: 7px 20px;
    border-radius: 50px;
    background: var(--primary-color);
    color: #000;
    cursor: pointer;
    margin-bottom: 2rem;
}

.car__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background: var(--primary-color);
    cursor: pointer;
    border: 2px solid #f5b70b;
    background-color: #000 ;
    /* background-color: #f5b70b ; */
    transition: transform 0.3s, opacity 0.3s;
}

.car__item:hover {
    transform: scale(1.05);
    /* opacity: 0.8; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.car__item-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.Licenseplate{
    color: #000;
}

.car__item-tile h3 {
    font-size: 1.3rem;
    color: var(--heading-color);
    font-weight: 400;
}

.car__item-tile span i {
    font-size: 1.3rem;
    color: var(--small-text-color);
    cursor: pointer;
}

.car__item-top p {
    /* display: flex;
    flex-direction: row; */
    color: var(--small-text-color);
    font-size: 0.9rem;
    font-weight: 400;
}

.car__item-bottom {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #000;
}

.car__bottom-left {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.car__bottom-left p {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #fff;
    font-weight: 600 !important;
}

.car__bottom-left p i {
    color: var(--secondary-color);
}

.car__rent {
    color: rgba(255, 255, 255, 0.829);
    font-size: 1.1rem;
}

.booking__car-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (max-width: 640px) {
    .booking__car-list {
        grid-template-columns: 1fr;
        /* Use a single column for mobile screens */
    }
}

.car__item-tile h3 {
    font-size: 1rem;
    font-weight: 400;
}



.car__img {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.car__img img {
    width: 300%; /* Ensure the image takes up the entire container */
    height: 123%; /* Ensure the image takes up the entire container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}


/* .car_item:nth-child(2) .car_img img,
.car_item:nth-child(6) .car_img img,
.car_item:nth-child(8) .car_img img {
    width: 75%;
}

.car_item:nth-child(4) .car_img img {
    width: 75%;
} */
/* .car__item:nth-child(1) {
    background: linear-gradient(to right, #ff5733, #ff33ce);
}
.car__item:nth-child(4) {
    background: linear-gradient(to right, #ff5733, #ff33ce);
}

.car__item:nth-child(3) {
    background: linear-gradient(to right, #33ff61, #33aaff);
}

.car__item:nth-child(5) {
    background: linear-gradient(to right, #33aaff, #ff5733);
}

.car__item:nth-child(7) {
    background: linear-gradient(to right, #ff33ce, #33ff61);
}
.car__item:nth-child(4) {
    background: #e65c00;
        /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to right, #F9D423, #e65c00); */
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* }  */